TESTNET= #<Name of Testnet to use>
OWNER_WALLET_PRIVATE_KEY= <Private Key of deployed Contract Owner Wallet>
OWNER_ADDRESS= < Owner 0x Address >
CONTRACT_ADDRESS= < 0x Address of Deployed Contract>
WS_PROVIDER = < The address of an Ethereum Websocket RPC Provider>
HTTP_PROVIDER = <The Address of an Ethereum HTTP RPC Provider>
